.header{
    background-color: lightgray;
    text-align: center;
}
.cityBtn{
    text-align: left;
}
.indexLow{
    background-color: green;
    color: white;
    display: inline-block;

}
.indexMod{
    background-color: yellow;
    color: black;
    display: inline-block;
}
.indexHigh{
    background-color: red;
    color: white;
    display: inline-block;
}
.futureCast{
    background-color: blue;
    color: white;
    display: inline-block;
    margin: 8px;
    width: 130px;
}
.wSymbol{
    font-size: xx-large;
    text-align: center;
}